<div id="movie-list">

    <div>
        <input type="text" name="search" placeholder="Search.." ng-model="searchFilter" class="search-box" ng-keypress="searchKeyPress($event)">
        <input type="button" class="btn btn-primary" value="Go" ng-click="search()"/>
    </div>

    <table class="table table-hover">
        <tbody>
            <tr ng-repeat="movie in movieList">
                <td ng-click="goToDetail(movie.id)">
                    <div>
                        <P class="movie-list-title">{{movie.title}}</P>
                        <p class="movie-list-description">{{movie.releaseYear}} - {{movie.category}} - {{movie.runningTime}}</p>
                    </div>
                </td>
                <td>
                    <a href="#/{{movie.id}}" class="detail-button" >Detail</a>
                </td>

            </tr>
        </tbody>
    </table>
</div>
