body {

}

.search-box {
    width: 180px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../img/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin: 10px 2px 10px 2px
}

.search-box:focus {
    width: 90%;
}

.movie-list {
    height: 350px;
    overflow: auto;
}

.movie-list-title {
    font-size:2em;
    font-family: 'Segoe UI', Arial
}

.movie-list-description {
    font-size: 1em;
    font-family: 'Segoe UI', Arial
}

.detail-button {
    display:block;
    background: url('../img/right_circle_black.png');
    background-repeat: no-repeat;
    background-size:contain;
    height: 30px;
    width: 30px;
    text-indent: -99999px;
}

.back-button {
    display:block;
    background: url('../img/left_circle_black.png');
    background-repeat: no-repeat;
    background-size:contain;
    height: 30px;
    width: 30px;
    text-indent: -99999px;
}

.movie-detail-nav {
    float:left;
    margin: 20px 15px 10px 5px;
}

.movie-detail-title {
    float:left;
}

.movie-detail-detail {
    margin: 20px 10px 20px 10px;
    padding: 5px 5px 200px 5px;
    font-size: large;
    font-family: 'Segoe UI', Arial;
}

.bg-img{
   
   background: linear-gradient(165deg, white, white 50%, transparent), url('../img/film.jpg'), no-repeat;
   background-size: cover;
   left: 0;
   top: 0;
   
   max-width:100%;
   max-height:100%;
   opacity: 0.6;
}
